body{
text-align:center;
background-color:white;
}
#header3{
    border:1px solid black;
    height: auto;
    width:auto;
    text-align: center;
    padding-top: 50px;
}
img{
    border-radius:120px;
    padding: 0px;
}
#row5,#row6{
    display:flex;
    justify-content: space-evenly;
    padding:50px;
}